<br/><hr/><ul>
	<li>date time 2016-Apr-10 16:35:07</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Illegal string offset 'server'</li>
	<li>File name: C:\xampp\htdocs\school\main\database\drivers\postgre\postgre_driver.php</li>
	<li>Line no: 331</li>
	<li>Error user agent: Chrome 49.0.2623.110</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: EphraimSwilla</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Apr-10 16:41:44</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Illegal string offset 'server'</li>
	<li>File name: C:\xampp\htdocs\school\main\database\drivers\postgre\postgre_driver.php</li>
	<li>Line no: 331</li>
	<li>Error user agent: Chrome 49.0.2623.110</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: EphraimSwilla</li>
</ul>

